In [1]:
import csv
import pandas as pd
import os
from IPython.display import display, HTML

### Constantes

In [2]:
DATA_PATH = "../data/Sample_Data/"

### Lectura Datos

In [ ]:
#Lectura de los datos raw
sample_data_v8 = pd.read_csv(
    f"{DATA_PATH}/raw/sample_data_8.csv",
    encoding='latin1',
    sep=";",
    on_bad_lines='skip',
    low_memory=False
).head()

#guardar la data procesada
sample_data_v8.to_csv(f"{DATA_PATH}/processed/sample_data_v8.csv", index = False)

In [3]:
data = pd.read_csv(f"{DATA_PATH}/processed/sample_data_v8.csv")

In [4]:
data.head()

,ID_MAESTRA,HV_SICORE_CORTE,CONVOCATORIA,ESTADO_HOJA_VIDA,ID_PERSONA,JU_JOVENES_ID,OFERTA_ID,LINEA_ACCESO,TIPO_ADMISION,INTERVENCION,...,NIVEL_DE_FORMACIÓN_CORTE,NÚCLEO_BÁSICO_DEL_CONOCIMIENTO_CORTE,ÁREA_DE_CONOCIMIENTO_CORTE,CINE_F_2013_AC_CAMPO_AMPLIO_CORTE,CINE_F_2013_AC_CAMPO_ESPECÍFIC_CORTE,CINE_F_2013_AC_CAMPO_DETALLADO_CORTE,MODALIDAD_CORTE,LOCALIDAD_CORTE,codloc_CORTE,FUENTE_FINANCIACION_CORTE
0,1,NO_APLICA,JU1,DILIGENCIAMIENTO,247416.0,3288.0,184.0,ACCESO,ADMISION ESPECIAL AMPLIADA,CONVENCIONAL,...,Universitario,"Ciencia política, relaciones internacionales",Ciencias sociales y humanas,"Ciencias Sociales, Periodismo e Información",Ciencias sociales y del comportamiento,Ciencias políticas y educación cívica,Presencial,CIUDADBOLIVAR,19.0,ATENEA
1,2,NO_APLICA,JU1,DILIGENCIAMIENTO,248720.0,17970.0,182.0,ACCESO,ADMISION ESPECIAL AMPLIADA,CONVENCIONAL,...,Universitario,"Biología, microbiología y afines",Matemáticas y ciencias naturales,"Ciencias Naturales, Matemáticas y Estadística",Ciencias biológicas y afines,Biología,Presencial,ENGATIVA,10.0,ATENEA
2,3,NO_APLICA,JU1,DILIGENCIAMIENTO,250968.0,66849.0,182.0,ACCESO,ADMISION ESPECIAL AMPLIADA,CONVENCIONAL,...,Universitario,"Biología, microbiología y afines",Matemáticas y ciencias naturales,"Ciencias Naturales, Matemáticas y Estadística",Ciencias biológicas y afines,Biología,Presencial,FONTIBON,9.0,FDL
3,4,NO_APLICA,JU1,DILIGENCIAMIENTO,432160.0,129445.0,206.0,ACCESO,ADMISION ESPECIAL AMPLIADA,CONVENCIONAL,...,Universitario,"Sociología, trabajo social y afines",Ciencias sociales y humanas,"Ciencias Sociales, Periodismo e Información",Ciencias sociales y del comportamiento,"Sociología, Antropología y estudios culturales",Presencial,RAFAELURIBEURIBE,18.0,ATENEA
4,5,NO_APLICA,JU1,DILIGENCIAMIENTO,313107.0,34564.0,184.0,ACCESO,ADMISION ESPECIAL AMPLIADA,CONVENCIONAL,...,Universitario,"Ciencia política, relaciones internacionales",Ciencias sociales y humanas,"Ciencias Sociales, Periodismo e Información",Ciencias sociales y del comportamiento,Ciencias políticas y educación cívica,Presencial,SANTAFE,3.0,ATENEA

### Limpieza datos

In [5]:
#pasar nombre columnas a minúscula
data.columns = data.columns.str.lower()

# Lista de columnas con valores numéricos representados como texto con comas decimales
cols_to_fix = [
    'longitude_ideca',
    'latitude_ideca',
]

# Reemplaza comas por puntos y convierte a float
for col in cols_to_fix:
    data[col] = data[col].str.replace(',', '.', regex=False).astype(float)

In [6]:
#convertir tipos de datos de manera segura
data = data.convert_dtypes()

### Listar Columnas

In [7]:
# Create a summary DataFrame
import pandas as pd

# Create a summary DataFrame
summary_df = pd.DataFrame({
    'Column': data.columns,
    'First Value': [data[col].iloc[0] for col in data.columns],
    'Dtype': [data[col].dtype for col in data.columns]
})

# Convert Dtype column to string so it can be sorted
summary_df['Dtype'] = summary_df['Dtype'].astype(str)

# Sort by Dtype
summary_df = summary_df.sort_values(by='Dtype').reset_index(drop=True)

# Display with style
summary_df.style.set_properties(**{
    'font-weight': 'bold'
}, subset=['Column']).set_table_attributes('style="width:100%"')

Las columnas contienen informacion:

- Socio demográfica
- Puntajes Saber 11
- Académica
- Datos sensibles

### Privacidad Diferencial

In [ ]:
import pydp as dp

In [ ]:
c = [
    'longitude-ideca',
    'latitude_ideca',
    'edad_del_calculo',
    'sisben4_nivel',
]